<?xml version="1.0" encoding="utf-8"?>
<SiteConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<webname>Mission sky</webname>
	<webcompany>Mssion Sky Company</webcompany>
	<weburl>http://www.missionsky.com</weburl>
	<webtel>123456</webtel>
	<webfax>123456798</webfax>
	<webmail>lucker.xia@missionsky.com</webmail>
	<webcopyright>CopyRight @2013 - 2015 MissionSky.Com All Rights Reserved.</webcopyright>
	<emailsmtp>smtp.exmail.qq.com</emailsmtp>
	<emailport>465</emailport>
	<emailfrom>ms_scm@missionsky.com</emailfrom>
	<emailusername>ms_scm@missionsky.com</emailusername>
	<emailpassword>ms_server1_scm</emailpassword>
	<emailnickname>Mission Sky</emailnickname>
</SiteConfig>