@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Error</title>
</head>
<body>
    <div>
        <script type="text/javascript">
            top.location.href = "/Admin/Account/Logon";
        </script>
    </div>
</body>
</html>
