@using System.Data;
@using MS.ECP.BLL;
@using MS.ECP.Utility;

@model MS.ECP.AAMAPrd.WebPager.PagedList<MS.ECP.Model.CMS.News> 
@{
    ViewBag.Title = " News List ";
}

 @section scripts 
 {
     <script  type="text/javascript"  src="/Scripts/webpager.js"></script>
     <script type="text/javascript">
         jQuery(function() {
             jQuery(".listtr").each(function(i) {
                 var mod = (i + 2) % 2;

                 if (mod == 0) {
                     jQuery(this).children('th').addClass("spec");
                 } else {
                     jQuery(this).children('th').addClass("specalt");
                     jQuery(this).children("td").addClass("alt");
                 }
             });

             jQuery("a.delete").click(function() {
                 return confirm("Confirm delete this item?");
             });
         });

     </script>
 }

    <form runat="server" id="myfrm">
        <div id="content_detail">
            <div class="jquery_tab">
                <div class="content_block">
                    <h2 class="jquery_tab_title">UpComing Event Management</h2>
                    <div id="newspaging">
                        @Html.Partial("_NewsPagingPartialPage",Model)
                    </div>
                </div>
                <!--end content_block-->
            </div>
            <!--end jquery tab-->
        </div>
        <!--end content-->
    </form>
