@using MS.ECP.Utility;
@using System.Data;

@model MS.ECP.AAMAPrd.Models.EventViewModel
           

<script  type="text/javascript"  src="/Scripts/jquery-1.7.2.min.js"></script>
<script  type="text/javascript"  src="/Scripts/webpager.js"></script> 

<div class="centcontent">
    <div id="detail_main" class="wrapper">
        <div id="content_detail" class="left">
            @Html.Partial("_EventsPagerPartialPage",Model)
        </div>
        <!-- END of sidebar -->
        <div class="clear"></div>
    </div>
</div>

